services:
  tims-db:
    build:
      dockerfile: ./src/tims-db/Dockerfile
    networks:
      - master-subnet
    expose:
      - 5342
    tty: true

  tims:
    build:
      dockerfile: ./src/tims/Dockerfile
    networks:
      - master-subnet
    expose:
      - 8081
    depends_on:
      - tims-db
    entrypoint: /root/tims/scripts/setup-glassfish.sh

  cbioportal-db:
    build:
      dockerfile: ./src/cbioportal-db/Dockerfile
    networks:
      - master-subnet
    expose:
      - 3306

  cbioportal:
    build:
      dockerfile: ./src/cbioportal/Dockerfile
    networks:
      - master-subnet
    

  # usage-0:
  #   build: ./usage-0
  #   networks:
  #     - usage-subnet-0

networks:
  # The presence of these objects is sufficient to define them
  master-subnet: {}
  usage-subnet-0: {}